html{
    scroll-behavior: smooth;
}

.img-fluid{
    padding-top: 30vh;
}

.navbar-brand{
   padding-left: 5vh;
}

.collapse{
    
}

.nav-item{
    font-size: 20px;
    padding-left: 20vh;
    padding-right: 5vh;
}

.nav_link a{
    color: #1A87FF;
}

.sobre_mim h1{
    font-size: 7vh;
    text-align: center;
    padding-top: 20vh; 
}

.projetos h1{
    font-size: 7vh;
    text-align: center;
    padding-top: 20vh;
}

.contatos h1{
    font-size: 7vh;
    text-align: center;
    padding-top: 20vh;
}

.rodape{
    padding-top: 20vh;
}

.page-footer{
    background-color: #ecf0f1;
}
